.uom-tag {
  @include font-size('xs');
  font-weight: var(--uom-font-normal);
  padding: rem(2px) rem(16px);
  border: solid 1px var(--uom-brand-dark);
  border-radius: rem(24px);
  color: var(--uom-brand-dark);
  text-decoration: none;
  display: inline-block;

  &:visited {
    color: var(--uom-brand-dark);
  }

  &:hover:not(.uom-tag--checkbox, span) {
    @include uom-hover;
    outline-width: 0;
  }

  &:is(span) {
    cursor: default;
  }

  &:focus {
    outline-width: 3px;
  }

  .uom-section--invert & {
    color: var(--uom-text-light);
    border-color: var(--uom-text-light);

    &:not(span) {
      @include link-light;
    }
  }

  &--checkbox {
    padding: 0;
    border: 0;
    border-radius: 0;
    position: relative;

    &:hover {
      .uom-section--invert & {
        background-color: transparent;
      }
    }

    input {
      position: absolute;
      opacity: 0;

      &:hover + label {
        cursor: pointer;

        @include uom-hover;

        .uom-section--invert & {
          background-color: var(--uom-hover-light);
        }
      }

      &:focus + label {
        @include uom-focus;
        outline-offset: 0;

        .uom-section--invert & {
          outline-color: var(--uom-white);
        }
      }

      &:checked + label {
        background-color: var(--uom-brand-dark);
        color: var(--uom-text-light);

        .uom-section--invert & {
          background-color: var(--uom-white);
          color: var(--uom-text-dark);
        }
      }
    }

    label {
      padding: rem(2px) rem(16px);
      border: solid 1px var(--uom-brand-dark);
      border-radius: rem(24px);
      display: inline-block;

      .uom-section--invert & {
        border-color: var(--uom-text-light);
      }
    }
  }

  &.active {
    background-color: var(--uom-brand-dark);
    color: var(--uom-text-light);
  }
}
