<div class="uom-loader">
  <span aria-hidden="true" class="uom-loader__circle{{#if size}} uom-loader__circle--{{size}}{{/if}}"></span>
  <span role="status" class="uom-loader__label">Loading</span>
</div>
