---
title: Buttons
width: wide
page: true
---

{{#>_layout-container}}
  <!-- Primary -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="primary" text="Link"}}
    {{>_button-link url="#" style="primary" text="Link icon" icon="upload"}}
    {{>_button type="button" style="primary" text="Button"}}
    {{>_button type="button" style="primary" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="primary" text="Input"}}
    {{>_button-input type="button" style="primary" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="primary" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Secondary -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="secondary" text="Link"}}
    {{>_button-link url="#" style="secondary" text="Link icon" icon="upload"}}
    {{>_button type="button" style="secondary" text="Button"}}
    {{>_button type="button" style="secondary" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="secondary" text="Input"}}
    {{>_button-input type="button" style="secondary" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="secondary" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Tertiary -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="tertiary" text="Link"}}
    {{>_button-link url="#" style="tertiary" text="Link icon" icon="upload"}}
    {{>_button type="button" style="tertiary" text="Button"}}
    {{>_button type="button" style="tertiary" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="tertiary" text="Input"}}
    {{>_button-input type="button" style="tertiary" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="tertiary" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Danger -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="danger" text="Link"}}
    {{>_button-link url="#" style="danger" text="Link icon" icon="upload"}}
    {{>_button type="button" style="danger" text="Button"}}
    {{>_button type="button" style="danger" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="danger" text="Input"}}
    {{>_button-input type="button" style="danger" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="danger" text="Full Width" isFullWidth=true}}
  </div>
{{/_layout-container}}

{{#>_layout-container brand-dark="true" invert="true"}}
  <!-- Brand Dark -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="dark" text="Link"}}
    {{>_button-link url="#" style="dark" text="Link icon" icon="upload"}}
    {{>_button type="button" style="dark" text="Button"}}
    {{>_button type="button" style="dark" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="dark" text="Input"}}
    {{>_button-input type="button" style="dark" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="dark" text="Full Width" isFullWidth=true}}
  </div>

  <!-- White -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="white" text="Link"}}
    {{>_button-link url="#" style="white" text="Link icon" icon="upload"}}
    {{>_button type="button" style="white" text="Button"}}
    {{>_button type="button" style="white" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="white" text="Input"}}
    {{>_button-input type="button" style="white" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="white" text="Full Width" isFullWidth=true}}
  </div>

  <!-- White Outline -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="white-outline" text="Link"}}
    {{>_button-link url="#" style="white-outline" text="Link icon" icon="upload"}}
    {{>_button type="button" style="white-outline" text="Button"}}
    {{>_button type="button" style="white-outline" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="white-outline" text="Input"}}
    {{>_button-input type="button" style="white-outline" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="white-outline" text="Full Width" isFullWidth=true}}
  </div>

  <!-- Danger -->
  <div class="nsw-list nsw-list--8 nsw-m-bottom-sm">
    {{>_button-link url="#" style="danger" text="Link"}}
    {{>_button-link url="#" style="danger" text="Link icon" icon="upload"}}
    {{>_button type="button" style="danger" text="Button"}}
    {{>_button type="button" style="danger" text="Button link" icon="download" icon-after="true"}}
    {{>_button-input type="button" style="danger" text="Input"}}
    {{>_button-input type="button" style="danger" text="Disabled" isDisabled=true}}
    {{>_button type="button" style="danger" text="Full Width" isFullWidth=true}}
  </div>
{{/_layout-container}}
