---
title: Templates
home: true
meta-description: Sample templates using the UOM Education Cloud Design System components and style to help you build pages.
meta-index: true
---

<h1>Templates</h1>
<p class="uom-intro uom-m-top-sm uom-p-bottom-lg">Sample templates using the UOM Education Cloud Design System components and style to help you build pages.</p>

<div class="uom-grid uom-grid--spaced">
  <div class="uom-col uom-col-md-6 uom-col-xl-4">
    <div class="uom-content-block">
      <div class="uom-content-block__content">
        <div id="section-homepage" class="uom-content-block__title">Homepage</div>
        <p class="uom-content-block__copy">Component and section combinations for full width layouts.</p>
        <ul class="uom-content-block__list">
          <li><a target="_blank" href="/templates/homepage/hero-banner.html">Hero banner</a></li>
          <li><a target="_blank" href="/templates/homepage/featured-list.html">Featured list</a></li>
          <li><a target="_blank" href="/templates/homepage/hero-search.html">Hero search</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="uom-col uom-col-md-6 uom-col-xl-4">
    <div class="uom-content-block">
      <div class="uom-content-block__content">
        <div id="section-content" class="uom-content-block__title">Content</div>
        <p class="uom-content-block__copy">Component and layout combinations for different content types.</p>
        <ul class="uom-content-block__list">
          <li><a target="_blank" href="/templates/content/side-nav.html">Side navigation</a></li>
          <li><a target="_blank" href="/templates/content/article.html">Article</a></li>
          <li><a target="_blank" href="/templates/content/filters.html">Filters</a></li>
          <li><a target="_blank" href="/templates/content/form.html">Form</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="uom-col uom-col-md-6 uom-col-xl-4">
    <div class="uom-content-block">
      <div class="uom-content-block__content">
        <div id="section-search" class="uom-content-block__title">Search</div>
        <p class="uom-content-block__copy">Layouts and states for search and filtering patterns.</p>
        <ul class="uom-content-block__list">
          <li><a target="_blank" href="/templates/search/simple.html">Simple</a></li>
          <li><a target="_blank" href="/templates/search/filters.html">Filters</a></li>
          <li><a target="_blank" href="/templates/search/no-results.html">No results</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="uom-col uom-col-md-6 uom-col-xl-4">
    <div class="uom-content-block">
      <div class="uom-content-block__content">
        <div id="section-map" class="uom-content-block__title">Maps</div>
        <p class="uom-content-block__copy">Layouts for displaying data relative to a physical location.</p>
        <ul class="uom-content-block__list">
          <li><a target="_blank" href="/templates/map/location-filters.html">Location primary with sub filters</a></li>
          <li><a target="_blank" href="/templates/map/equal-filters.html">Equal value filters</a></li>
          <li><a target="_blank" href="/templates/map/location-only.html">Location based only</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="uom-col uom-col-md-6 uom-col-xl-4">
    <div class="uom-content-block">
      <div class="uom-content-block__content">
        <div id="section-theming" class="uom-content-block__title">Theming</div>
        <p class="uom-content-block__copy">Whole or partial content re-theming using NSW Gov colour palette.</p>
        <ul class="uom-content-block__list">
          <li><a target="_blank" href="/templates/theming/full-page.html">Full page</a></li>
          <li><a target="_blank" href="/templates/theming/content-only.html">Content only</a></li>
          <li><a target="_blank" href="/templates/theming/partial.html">Partial</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="uom-col uom-col-md-6 uom-col-xl-4">
    <div class="uom-content-block">
      <div class="uom-content-block__content">
        <div id="section-landing" class="uom-content-block__title">Landing pages</div>
        <p class="uom-content-block__copy">Component and layout combinations for different landing page types types.</p>
        <ul class="uom-content-block__list">
          <li><a target="_blank" href="/templates/landing/hero-banner.html">Hero banner</a></li>
          <li><a target="_blank" href="/templates/landing/featured-list.html">Featured list</a></li>
          <li><a target="_blank" href="/templates/landing/events.html">Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
