/* stylelint-disable max-nesting-depth */

$uom-form-tick: '<svg fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M29.362 3.742l-18.867 19.204-7.857-7.997-2.638 2.685 9.175 9.34 1.319 1.284 1.318-1.284 20.187-20.547z"></path></svg>';

.uom-form {
  margin-top: rem(48px);

  &:first-child {
    margin-top: 0;
  }

  &__group {
    margin-top: rem(16px);

    &:first-child {
      margin-top: 0;
    }
  }

  &__helper {
    @include font-size('xs');
    display: block;
    margin-bottom: rem(4px);

    &--error,
    &--valid {
      margin-top: rem(8px);
      padding: rem(8px);
      font-weight: var(--uom-font-bold);
      color: var(--uom-text-dark);
      background-repeat: no-repeat;
      background-position: left rem(8px) top rem(8px);
      background-size: 1rem auto;
      display: flex;
      align-items: center;

      .uom-material-icons {
        font-size: rem(map-get($uom-icon-sizes, 20));
        margin-right: rem(4px);
      }
    }

    &--error {
      background-color: var(--uom-status-error-bg);

      .uom-material-icons {
        color: var(--uom-status-error);
      }
    }

    &--valid {
      background-color: var(--uom-status-success-bg);

      .uom-material-icons {
        color: var(--uom-status-success);
      }
    }
  }

  &__label {
    @include font-size('sm');
    color: var(--uom-brand-dark);
    font-weight: var(--uom-font-bold);
    display: block;
    margin-bottom: rem(5px);

    &--small {
      font-weight: var(--uom-font-normal);
    }

    + select {
      cursor: pointer;
    }

    + input,
    + textarea,
    + select,
    + .uom-form__input-group {
      margin-top: rem(2px);
    }
  }

  &__required {
    &::after {
      content: ' *';
      color: var(--uom-status-error);
    }
  }

  &__input {
    @include font-size('sm');
    padding: rem(13px) rem(16px) rem(10px);
    border-radius: var(--uom-border-radius);
    background-color: var(--uom-white);
    color: var(--uom-text-dark);
    border: 1px solid var(--uom-brand-dark);
    font-family: var(--uom-font-family);
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    width: 100%;

    &:focus {
      @include uom-focus;

      .uom-section--invert & {
        @include uom-focus($color: var(--uom-focus-light));
      }
    }

    &:disabled {
      border-color: var(--uom-grey-03);
      color: var(--uom-grey-03);
      cursor: not-allowed;
      opacity: 1;
    }

    &[aria-invalid='true'],
    &.has-error {
      border-color: var(--uom-status-error);
      border-width: 2px;
    }
  }

  &__input {
    &:hover {
      background-image: linear-gradient(var(--uom-primary-hover), var(--uom-primary-hover));

      &:focus {
        background-image: linear-gradient(var(--uom-white), var(--uom-white));
      }
    }

    &:disabled {
      background: var(--uom-off-white);
    }

    &[aria-invalid='true'],
    &.has-error {
      &:hover {
        background: var(--uom-status-error-bg);
      }
    }
  }

  &__input-group {
    display: flex;

    .uom-form__input {
      border-right-width: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus {
        position: relative;
      }
    }

    .uom-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 rem(24px);
      margin: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-width: 1px;
      white-space: nowrap;
      border-color: var(--uom-grey-01);

      .uom-section--invert & {
        color: var(--uom-text-light);
        background-color: var(--uom-brand-dark);
        border-color: var(--uom-white);
      }

      &:focus {
        @include uom-focus();

        .uom-section--invert & {
          @include uom-focus($color: var(--uom-focus-light));
        }
      }
    }

    .uom-material-icons {
      display: block;
      font-size: rem(map-get($uom-icon-sizes, 36));
      position: static;

      .uom-section--invert & {
        color: var(--uom-text-light);

        &:hover {
          color: var(--uom-text-light);
        }
      }
    }

    &--icon {
      .uom-button {
        padding: 0;
        min-width: rem(60px);
        border-color: var(--uom-grey-01);
        border-left-width: 0;

        .uom-material-icons:first-child {
          margin-right: 0;
        }

        .uom-section--invert & {
          color: var(--uom-white);
          border-color: var(--uom-white);

          &:hover {
            @include uom-hover-light;
          }

          .uom-material-icons {
            color: var(--uom-text-light);
          }
        }
      }

      .uom-button--white {
        .uom-material-icons {
          color: var(--uom-brand-dark);

          .uom-section--invert & {
            color: var(--uom-text-light);
          }
        }
      }
    }

    &--large {
      .uom-form__input {
        padding: rem(16px);
      }
    }
  }

  &__predictive {
    position: relative;
  }

  &__predictive-list {
    @include z-index;
    border-radius: var(--uom-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--uom-white);
    box-shadow: 0 4px 12px 0 rgba(var(--uom-black-rgb), 0.15);
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: rem(48px);
    right: 0;
    left: 0;
    overflow: hidden;

    &--large {
      top: rem(58px);
    }

    li {
      padding: 0;
      margin: 0;
    }

    a {
      display: block;
      padding: rem(10px);
      color: var(--uom-text-dark);
      font-weight: var(--uom-font-normal);

      &:hover {
        @include uom-hover;
        outline-width: 0;
      }

      &:focus {
        outline-width: 3px;
        outline-offset: -3px;
      }

      span {
        font-weight: var(--uom-font-bold);
      }
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    /* autoprefixer: ignore next */
    display: contents;

    legend {
      padding: 0;
      margin: 0 0 rem(16px) 0;
      display: block;
    }
  }

  &__legend {
    @include font-size('sm');
    font-weight: var(--uom-font-bold);
    width: 100%;
    display: block;
  }

  &__checkbox-input,
  &__radio-input {
    position: absolute;
    opacity: 0;

    &:first-child + .uom-form__checkbox-label,
    &:first-child + .uom-form__radio-label {
      margin-top: 0;
    }

    &:hover + .uom-form__checkbox-label::before,
    &:hover + .uom-form__radio-label::before {
      background-image: linear-gradient(var(--uom-hover), var(--uom-hover));
    }

    &:checked + .uom-form__checkbox-label::after {
      background-image: svg-url($uom-form-tick);
      background-color: var(--uom-brand-dark);
    }

    &:checked + .uom-form__radio-label::after {
      background-color: var(--uom-brand-dark);
    }

    &:disabled {
      + .uom-form__checkbox-label,
      + .uom-form__radio-label {
        cursor: not-allowed;
      }

      + .uom-form__checkbox-label::before,
      + .uom-form__radio-label::before {
        border-color: var(--uom-grey-03);
        background-color: var(--uom-off-white);
      }

      &:checked + .uom-form__checkbox-label::after,
      &:checked + .uom-form__radio-label::after {
        background-color: var(--uom-grey-03);
      }
    }

    &:focus + .uom-form__checkbox-label::before {
      @include uom-focus;
    }

    &:focus + .uom-form__radio-label::before {
      box-shadow: 0 0 0 3px var(--uom-text-light), 0 0 0 6px var(--uom-focus);
    }

    &[aria-invalid='true'] + .uom-form__checkbox-label,
    &.has-error + .uom-form__checkbox-label {
      &:hover::before {
        background-image: linear-gradient(var(--uom-status-error-bg), var(--uom-status-error-bg));
      }

      &::before {
        border-width: 2px;
        border-color: var(--uom-status-error);
      }
    }
  }

  &__checkbox-label,
  &__radio-label {
    @include font-size('sm');
    margin: rem(16px) 0 0 0;
    padding: rem(4px) 0 rem(4px) rem(48px);
    min-height: rem(32px);
    display: block;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      width: rem(32px);
      height: rem(32px);
      margin-right: rem(16px);
      border: 1px var(--uom-grey-01) solid;
      top: 0;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      background-color: var(--uom-white);
      position: absolute;
    }

    &::after {
      content: '';
      position: absolute;
      width: rem(22px);
      height: rem(22px);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: rem(16px) auto;
      left: rem(5px);
      top: rem(5px);
    }
  }

  &__checkbox-label {
    &::before {
      border-radius: var(--uom-border-radius);
    }
  }

  &__radio-label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      border-radius: 50%;
    }
  }
}
