<div class="uom-link-list">
  {{#if title}}
  <div class="uom-link-list__title">{{title}}</div>
  {{/if}}
  <ul>
    {{#each list}}
    <li>
      <a href="#">
        <span>{{this}}</span>
        <span class="material-icons uom-material-icons" focusable="false" aria-hidden="true">east</span>
      </a>
    </li>
    {{/each}}
    {{#if ext}}
    <li>
      <a class="js-link" href="#">
        <span>
          <span>Stay safe in NSW national parks</span><span class="material-icons uom-material-icons" title="(opens in new window)">open_in_new</span>
        </span>
        <span class="material-icons uom-material-icons" focusable="false" aria-hidden="true">east</span>
      </a>
    </li>
    {{/if}}
  </ul>
</div>
