$prefix: 'uom-';
$enable-important-utilities: true !default;

// Breakpoints
$uom-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

//Breakpoint to switch to desktop view (Layout and Navigation)
$uom-desktop-breakpoint: lg;

// Font
$uom-base-font-size: 16px;
$uom-font-size-reponsive-breakpoint: lg !default;

$uom-font-weight-lighter: lighter !default;
$uom-font-weight-light: 300 !default;
$uom-font-weight-normal: 400 !default;
$uom-font-weight-medium: 500 !default;
$uom-font-weight-semibold: 600 !default;
$uom-font-weight-bold: 700 !default;
$uom-font-weight-bolder: bolder !default;

// Grid
$grid-gutters: 8px;

// z-index
$uom-z-index: (
  top: 900,
  upper: 300,
  middle: 200,
  base: 100,
  0:0,
  below: -100,
) !default;

// Base Colours
$uom-base-colours: (
  brand-dark: var(--uom-brand-dark),
  brand-light: var(--uom-brand-light),
  primary-dark: var(--uom-primary-dark),
  primary-light: var(--uom-primary-light),
  secondary-dark: var(--uom-secondary-dark),
  secondary-light: var(--uom-secondary-light),
  brand-supplementary: var(--uom-brand-supplementary),
  brand-accent: var(--uom-brand-accent),
  black: var(--uom-black),
  white: var(--uom-white),
  off-white: var(--uom-off-white),
  grey-01: var(--uom-grey-01),
  grey-02: var(--uom-grey-02),
  grey-03: var(--uom-grey-03),
  grey-04: var(--uom-grey-04)
);

$uom-base-colours-rgb: (
  brand-dark: rgba(var(--uom-brand-dark-rgb), var(--uom-bg-opacity)),
  // brand-light: rgba(var(--uom-brand-light-rgb), var(--uom-bg-opacity)),
  brand-supplementary: rgba(var(--uom-brand-supplementary-rgb), var(--uom-bg-opacity)),
  brand-accent: rgba(var(--uom-brand-accent-rgb), var(--uom-bg-opacity)),
  black: rgba(var(--uom-black-rgb), var(--uom-bg-opacity)),
  white: rgba(var(--uom-white-rgb), var(--uom-bg-opacity)),
  off-white: rgba(var(--uom-off-white-rgb), var(--uom-bg-opacity)),
  grey-01: rgba(var(--uom-grey-01-rgb), var(--uom-bg-opacity)),
  grey-02: rgba(var(--uom-grey-02-rgb), var(--uom-bg-opacity)),
  grey-03: rgba(var(--uom-grey-03-rgb), var(--uom-bg-opacity)),
  grey-04: rgba(var(--uom-grey-04-rgb), var(--uom-bg-opacity))
);


// Background Colours
$uom-bg-colours: map-merge($uom-base-colours-rgb, (
  transparent: transparent,
  info-dark: rgba(var(--uom-status-info-rgb), var(--uom-bg-opacity)),
  // info-light: rgba(var(--uom-status-info-bg-rgb), var(--uom-bg-opacity)),
  success-dark: rgba(var(--uom-status-success-rgb), var(--uom-bg-opacity)),
  // success-light: rgba(var(--uom-status-success-bg-rgb), var(--uom-bg-opacity)),
  warning-dark: rgba(var(--uom-status-warning-rgb), var(--uom-bg-opacity)),
  // warning-light: rgba(var(--uom-status-warning-bg-rgb), var(--uom-bg-opacity)),
  error-dark: rgba(var(--uom-status-error-rgb), var(--uom-bg-opacity)),
  // error-light: rgba(var(--uom-status-error-bg-rgb), var(--uom-bg-opacity))
));

// Text Colours
$uom-text-colours: map-merge($uom-base-colours, (
  dark: var(--uom-text-dark),
  light: var(--uom-text-light),
));

$uom-border: var(--uom-border-width) var(--uom-border-style) var(--uom-border-color);

$uom-border-widths: (
  1: var(--uom-border-width) var(--uom-border-style) var(--uom-border-color),
  2: 2px var(--uom-border-style) var(--uom-border-color),
  3: 3px var(--uom-border-style) var(--uom-border-color),
  4: 4px var(--uom-border-style) var(--uom-border-color),
  5: 5px var(--uom-border-style) var(--uom-border-color),
  6: 6px var(--uom-border-style) var(--uom-border-color)
) !default;

// Box shadow
$uom-box-shadow: var(--uom-box-shadow) !default;

// Position
$uom-position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;

// Spaces
$spacers: (
  0: (
    mobile: 0,
    desktop: 0
  ),
  xs: (
    mobile: 4px,
    desktop: 8px
  ),
  sm: (
    mobile: 8px,
    desktop: 16px
  ),
  md: (
    mobile: 16px,
    desktop: 32px
  ),
  lg: (
    mobile: 24px,
    desktop: 48px
  ),
  xl: (
    mobile: 32px,
    desktop: 64px
  ),
  xxl: (
    mobile: 40px,
    desktop: 80px
  )
);

// Width and height
$sizes: (
  4xs: 0.25rem,
  3xs: 0.5rem,
  2xs: 0.75rem,
  xs: 1rem,
  sm: 1.5rem,
  md: 2rem,
  lg: 3rem,
  xl: 4rem,
  2xl: 6rem,
  3xl: 8rem,
  4xl: 16rem,
  0: 0,
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  33: 33%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%
) !default;

// Transitions
$uom-transition-duration: 0.15s ease-in-out !default;
