---
title: Getting Started
width: narrow
no-blank: true
order: 10
meta-description: How designers can use the UOM Education Cloud Design System to create customer-centred digital products and services that meet branding and accessibility guidelines.
meta-index: true
---
<p>Use the UOM Education Cloud Design System to create customer-centred digital products and services that meet branding and WCAG 2.2 AA accessibility guidelines. It also helps you meet the <a target="_blank" href="https://www.digital.nsw.gov.au/digital-service-toolkit/design-standards">Design Standards</a> to design for user needs</p>
<p>The design system breaks down the UOM Brand to into an adaptable and expandable base that includes:</p>
<ul>
  <li><strong>Core styles</strong> - foundations that communicate the UOM visual identity
  </li>
  <li><strong>Base components</strong> - examples of assembled core styles to support the build of user interfaces
  </li>
  <li><strong>UX Guidance</strong> - detailed usage and interaction guidance for creating consistent user experiences
  </li>
</ul>

<h2>First steps</h2>
<p>Before jumping in, there are some key areas of the UOM Education Cloud Design System we've created to make building digital products and services easier.</p>
    <div class="uom-grid">
      <div class="uom-col uom-col-md-6 uom-col-lg-4">
        <div class="uom-card uom-card--content">
          <div class="uom-card__content">
            <h2 class="uom-card__title">
              <a href="/docs/content/design/figma-ui-kit.html" class="uom-card__link">Figma UI Kit</a>
            </h2>
            <p class="uom-card__copy">All the design assets required to design, prototype and share. </p>
            <span class="material-icons uom-material-icons uom-card__icon" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      <div class="uom-col uom-col-md-6 uom-col-lg-4">
        <div class="uom-card uom-card--content">
          <div class="uom-card__content">
            <h2 class="uom-card__title">
              <a href="/docs/content/design/extending.html" class="uom-card__link">Extending</a>
            </h2>
            <p class="uom-card__copy">Draw on the core elements to create custom solutions.</p>
            <span class="material-icons uom-material-icons uom-card__icon" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      <div class="uom-col uom-col-md-6 uom-col-lg-4">
        <div class="uom-card uom-card--content">
          <div class="uom-card__content">
            <h2 class="uom-card__title">
              <a href="/docs/content/design/theming.html" class="uom-card__link">Theming</a>
            </h2>
            <p class="uom-card__copy">Apply colour theming to your digital products and services.</p>
            <span class="material-icons uom-material-icons uom-card__icon" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
    </div>
