/* stylelint-disable max-nesting-depth */

.uom-carousel {
  --carousel-item-auto-size: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 3rem;

  &-container {
    margin: 0 -0.5rem;
    overflow: hidden;
  }

  * {
    box-sizing: border-box;

    &::after,
    &::before {
      box-sizing: border-box;
    }
  }

  ol,
  ul,
  menu {
    list-style: none;
    // margin: 0;
    padding: 0;
  }

  button,
  input,
  textarea,
  select {
    color: inherit;
    line-height: inherit;
    appearance: none;
    // margin: 0;
    // padding: 0;
  }

  button {
    // addresses issue from button padding-inline-end and padding-inline-start which are set to 16px
    padding: 0;
  }

  img,
  video,
  svg {
    display: block;
    max-width: 100%;
  }

  .uom-icon {
    height: var(--size, 1em);
    width: var(--size, 1em);
    display: inline-block;
    color: var(--uom-brand-dark);
    fill: currentColor;
    line-height: 1;
    flex-shrink: 0;
    max-width: initial;
  }

  > nav,
  &__counter > nav {
    order: 1;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;

    @include breakpoint('md') {
      margin-bottom: 0.75rem;
      margin-right: 0;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      gap: 0.25rem;

      @include breakpoint('md') {
        gap: 0.375rem;
      }
    }
  }

  &__wrapper {
    order: 2;
    width: calc(100% - 6rem);
    margin: 0 auto;

    @include breakpoint('md') {
      width: 100%;
    }
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint('md') {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;

    &--animating {
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__item {
    flex-shrink: 0;
    width: var(--carousel-item-auto-size);
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    margin-bottom: 0;

    @include breakpoint('md') {
      margin-right: 2rem;
      margin-bottom: 0.75rem;
    }
  }

  &.uom-carousel--loaded .uom-carousel__item {
    opacity: 1;
  }

  &[data-drag=on] .uom-carousel__item {
    user-select: none;

    img {
      pointer-events: none;
    }
  }

  &:not(.uom-carousel--is-dragging) .uom-carousel__list:not(.uom-carousel__list--animating) .uom-carousel__item[tabindex='-1'] > * {
    visibility: visible;

    @include breakpoint('md') {
      visibility: hidden;
    }
  }

  &__control {
    --size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--uom-white);
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s;
    border: 2px solid var(--uom-brand-dark);
    cursor: pointer;

    &:hover {
      @include uom-hover();
    }

    &:active {
      transform: translateY(1px);
    }

    &:focus {
      @include uom-focus(false);
      outline-offset: 1px;

      @include breakpoint('md') {
        outline: solid 3px var(--uom-focus);
        outline-offset: 2px;
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
      box-shadow: none;
      border: 2px solid rgba(var(--uom-palette-traditional-heritage-blue-100-rgb), 0.2);
    }

    .uom-icon {
      --size: 20px;
      display: block;
      margin: auto;
    }

    .uom-section--invert & {
      border: 2px solid var(--uom-white);

      &:hover {
        @include uom-hover-light();

        .uom-icon {
          color: var(--uom-white);
        }
      }

      &:focus {
        @include uom-focus($color: var(--uom-focus-light));
      }

      .uom-icon {
        &:hover {
          color: var(--uom-white);
        }
      }
    }
  }

  &__navigation {
    order: 3;
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    transform: translateX(-50%);

    @include breakpoint('md') {
      bottom: 0.8em;
    }

    li {
      margin-top: 0;
      line-height: 0;
    }

    &--pagination {
      bottom: 0.3em;

      @include breakpoint('md') {
        bottom: 0.5em;
      }

      .uom-carousel__nav-item button {
        background-color: transparent;
        width: 1.6rem;
        height: 1.6rem;
        color: var(--uom-brand-dark);
        font-size: 12px;
        border-radius: var(--uom-border-radius);
        text-align: center;
        margin: 0 0.35em;

        &:focus {
          @include uom-focus(false);
          outline-offset: 2px;
        }

        .uom-section--invert & {
          background-color: var(--uom-white);
          border: 1px solid var(--uom-white);

          &:focus {
            @include uom-focus($color: var(--uom-focus-light));
            outline-offset: 2px;
          }
        }
      }

      .uom-carousel__nav-item--selected {
        button {
          background-color: var(--uom-brand-dark);
          color: var(--uom-white);

          .uom-section--invert & {
            background-color: transparent;
            border: 2px solid var(--uom-white);
          }
        }
      }
    }
  }

  &__nav-item {
    button {
      background-color: transparent;
      width: 1.6em;
      height: 1.6em;
      padding: 4px;
      border-radius: 50%;
      border: 2px solid var(--uom-brand-dark);
      transition: all 300ms ease-in-out;
      cursor: pointer;
      line-height: 0;
      margin: 0 0.25em;

      &:focus {
        @include uom-focus(false);
        outline-offset: 2px;
      }

      .uom-section--invert & {
        border: 2px solid var(--uom-white);

        &:focus {
          @include uom-focus($color: var(--uom-focus-light));
          outline-offset: 2px;
        }
      }
    }

    &--selected button {
      background-color: var(--uom-brand-dark);

      .uom-section--invert & {
        background-color: var(--uom-white);
      }
    }
  }

  &.uom-carousel--hide-controls {
    .uom-carousel__navigation,
    .uom-carousel__control {
      display: none;
    }
  }
}
