<div class="uom-docs__example{{#if brand-dark}} uom-docs__example--brand-dark{{/if}}{{#if brand-light}} uom-docs__example--brand-light{{/if}}{{#if light}} uom-docs__example--light{{/if}}{{#if dark}} uom-docs__example--dark{{/if}}{{#if invert}} uom-section--invert{{/if}}{{#if hidden}} uom-docs__example--hidden{{/if}}{{#if simple}} uom-docs__example--simple{{/if}}{{#if separated}} uom-m-top-sm{{/if}}"{{#if disable-links}} data-disable-links{{/if}}>
  <div class="uom-docs__component">
{{#unless hidden}}
    {{> @partial-block }}
{{/unless }}
  </div>
</div>
{{#unless showcode}}
{{#> _docs-code }}{{> @partial-block }}{{/ _docs-code }}
{{/unless }}
