
<section class="uom-section{{#if brand-dark}} uom-section--brand-dark{{/if}}{{#if brand-light}} uom-section--brand-light{{/if}}{{#if light}} uom-section--off-white{{/if}}{{#if dark}} uom-section--grey-01{{/if}}{{#if invert}} uom-section--invert{{/if}}">
  <div class="uom-container uom-p-y-sm{{#if-equals width "menu"}} uom-docs__main--menu{{/if-equals}}">
    <div class="uom-layout">
      <main class="uom-layout__main">
        {{> @partial-block }}
      </main>
      {{#if-equals width "narrow"}}<div class="uom-layout__sidebar uom-layout__sidebar--desktop"></div>{{/if-equals}}
    </div>
  </div>
</section>
