<header class="uom-header">
  <div class="uom-header__container">
    <div class="uom-header__inner">
      <div class="uom-color-swatches js-color-swatches">
        <legend class="uom-color-swatches__legend" aria-live="polite" aria-atomic="true"><span class="uom-color-swatches__color js-color-swatches__color">Blue 01</span></legend>
        <select class="js-color-swatches__select" aria-label="Select a color"></select>
      </div>
    </div>
  </div>
</header>

{{> @partial-block }}

<script src="/docs/js/docs.js"></script>
