$uom-layout-gap: 32px;

.uom-layout {
  @include grid();

  &__main {
    @include column-default();

    &:not(:first-child) {
      @include column(8, $uom-desktop-breakpoint);
    }

    &:not(:last-child) {
      @include column(8, $uom-desktop-breakpoint);
    }
  }

  &__sidebar {
    @include column-default();
    @include column(4, $uom-desktop-breakpoint);

    &:first-child {
      @include breakpoint('lg') {
        padding-right: rem($grid-gutters*2 + $uom-layout-gap);
      }
    }

    &:last-child {
      @include breakpoint($uom-desktop-breakpoint) {
        padding-left: rem($grid-gutters*2 + $uom-layout-gap);
      }
    }

    &--desktop {
      display: none;

      @include breakpoint($uom-desktop-breakpoint) {
        display: block;
      }
    }
  }
}
