//Variations
$uom-sections: (
  brand-dark: (
    background: var(--uom-brand-dark),
    color: var(--uom-text-light)
  ),
  brand-supplementary: (
    background: var(--uom-brand-supplementary),
    color: var(--uom-text-light)
  ),
  black: (
    background: var(--uom-black),
    color: var(--uom-text-light)
  ),
  grey-01: (
    background: var(--uom-grey-01),
    color: var(--uom-text-light)
  ),
  grey-02: (
    background: var(--uom-grey-02),
    color: var(--uom-text-light)
  ),
  brand-light: (
    background: var(--uom-brand-light),
    color: var(--uom-text-dark)
  ),
  white: (
    background: var(--uom-white),
    color: var(--uom-text-dark)
  ),
  off-white: (
    background: var(--uom-off-white),
    color: var(--uom-text-dark)
  ),
  grey-03: (
    background: var(--uom-grey-03),
    color: var(--uom-text-dark)
  ),
  grey-04: (
    background: var(--uom-grey-04),
    color: var(--uom-text-dark)
  )
);

.uom-section {
  padding: rem($grid-gutters*2) 0;

  @include breakpoint('md') {
    padding: rem($grid-gutters*4) 0;
  }

  &--half-padding {
    padding: 0;

    @include breakpoint('md') {
      padding: rem($grid-gutters*2) 0;
    }
  }

  &--no-padding {
    padding: 0;

    @include breakpoint('md') {
      padding: 0;
    }
  }

  &--image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;

    @include breakpoint('md') {
      padding: rem($grid-gutters*4) 0;
    }
  }

  &--box {
    border-radius: var(--uom-border-radius);
    border: 1px solid var(--uom-grey-04);
    padding: rem(24px);

    @include breakpoint('md') {
      padding: rem(24px);
    }
  }

  @each $name, $variant in $uom-sections {
    &--#{"" + $name} {
      --uom-section-bg: #{map-get($variant, background)};
      background-color: map-get($variant, background);
      color: map-get($variant, color);
    }
  }

  &--invert {
    color: var(--uom-text-light);
  }
}
