---
title: Box Shadow
width: narrow
intro: Utility for adding the NSW box-shadow to an element.
no-blank: true
model: json/utilities.json
meta-description: Utility for adding the NSW box-shadow to an element.
meta-index: true
---

<div class="uom-section uom-section--white uom-block uom-p-sm">
  <div class="uom-table uom-table--valign-middle">
    <table>
      <thead>
        <tr>
          <th class="uom-p-top-0">Class</th>
          <th class="uom-p-top-0">Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>.uom-box-shadow</code></td>
          <td>box-shadow:  0 0.25rem 0.75rem 0 rgba(0 0 0 / 0.15);</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{#>_docs-example showcode=true separated=true}}
<div class="uom-box-shadow uom-display-inline-block uom-width-2xl uom-height-2xl uom-p-xs uom-m-xs uom-bg-opacity--50 uom-bg--off-white"></div>
{{/_docs-example}}

{{#>_docs-code open=true}}
<div class="uom-box-shadow">...</div>
{{/_docs-code}}
