---
title: Display
width: narrow
intro: Utilities for controlling the display box type of an element.
no-blank: true
model: json/utilities.json
meta-description: Utilities for controlling the display box type of an element.
meta-index: true
---

<p>Change the value of the display property with our responsive display utility classes. Classes can be combined for various effects as you need.</p>

<h3>Notation</h3>

<p>Display utility classes that apply to all breakpoints, from xs to xxl, have no breakpoint abbreviation in them. This is because those classes are applied from min-width: 0; and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.</p>

<p>As such, the classes are named using the format:</p>

<ul>
  <li><code>.uom-display-{value}</code> for xs</li>
  <li><code>.uom-display-{breakpoint}-{value}</code> for sm, md, lg, xl, and xxl.</li>
</ul>

<p>Where value is one of:</p>

<ul>
  {{#each model.display as |value property|}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<h3>Examples</h3>

{{#>_docs-example showcode=true separated="true"}}
<div class="uom-display-inline-block uom-p-lg uom-m-xs uom-bg-opacity--50 uom-bg--brand-light"></div>
<div class="uom-display-inline-block uom-p-lg uom-m-xs uom-bg-opacity--50 uom-bg--brand-light"></div>
{{/_docs-example}}

{{#>_docs-code open=true}}
<div class="uom-display-inline-block"></div>
<div class="uom-display-inline-block"></div>
{{/_docs-code}}

{{#>_docs-example separated="true"}}
<div>
  <p>When controlling the flow of text, using the CSS property <span class="uom-text-bold uom-bg--brand-light uom-display-inline">display: inline</span> will cause the text inside the element to wrap normally.</p>

  <p>While using the property <span class="uom-text-bold uom-bg--brand-light uom-display-inline-block">display: inline-block</span> will wrap the element to prevent the text inside from extending beyond its parent.</p>

  <p>Lastly, using the property <span class="uom-text-bold uom-bg--brand-light uom-display-block">display: block</span> will put the element on its own line and fill its parent.</p>
</div>
{{/_docs-example}}

{{#>_docs-example showcode=true separated="true"}}
<div class="uom-display-block uom-p-md uom-m-xs uom-bg-opacity--50 uom-bg--brand-light"></div>
<div class="uom-display-block uom-p-md uom-m-xs uom-bg-opacity--50 uom-bg--brand-light"></div>
{{/_docs-example}}

{{#>_docs-code open=true}}
<div class="uom-display-block"></div>
<div class="uom-display-block"></div>
{{/_docs-code}}

<h3>Hiding elements</h3>

<p>To hide an element and remove it from the page layout (compare with <code>.uom-invisible</code> from the <a href="/docs/content/utilities/visibility.html">visibility</a> documentation) use the <code>.uom-display-none</code> class or one of the <code>.uom-display-{sm,md,lg,xl,xxl}-none</code> classes for any responsive screen variation.</p>

<p>For faster mobile-friendly development, use responsive display classes for showing and hiding elements by device. Avoid creating entirely different versions of the same site, instead hide elements responsively for each screen size.</p>

<p>To show an element only on a given interval of screen sizes you can combine one <code>.uom-display-*-none</code> class with a <code>.uom-display-*-*</code> class, for example <code>.uom-display-none .uom-display-md-block .uom-display-xl-none .uom-display-xxl-none</code> will hide the element for all screen sizes except on medium and large devices.</p>

<div class="uom-section uom-section--white uom-block uom-p-sm">
  <div class="uom-table uom-table--valign-middle">
    <table>
      <thead>
        <tr>
          <th class="uom-p-top-0">Screen size</th>
          <th class="uom-p-top-0">Class</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hidden on all</td>
          <td><code>.uom-display-none</code></td>
        </tr>
        <tr>
          <td>Hidden only on xs</td>
          <td><code>.uom-display-none .uom-display-sm-block</code></td>
        </tr>
        <tr>
          <td>Hidden only on sm</td>
          <td><code>.uom-display-sm-none .uom-display-md-block</code></td>
        </tr>
        <tr>
          <td>Hidden only on md</td>
          <td><code>.uom-display-md-none .uom-display-lg-block</code></td>
        </tr>
        <tr>
          <td>Hidden only on lg</td>
          <td><code>.uom-display-lg-none .uom-display-xl-block</code></td>
        </tr>
        <tr>
          <td>Hidden only on xl</td>
          <td><code>.uom-display-xl-none .uom-display-xxl-block</code></td>
        </tr>
        <tr>
          <td>Hidden only on xxl</td>
          <td><code>.uom-display-xxl-none</code></td>
        </tr>
        <tr>
          <td>Visible on all</td>
          <td><code>.uom-display-block</code></td>
        </tr>
        <tr>
          <td>Visible only on xs</td>
          <td><code>.uom-display-block .uom-display-sm-none</code></td>
        </tr>
        <tr>
          <td>Visible only on sm</td>
          <td><code>.uom-display-none .uom-display-sm-block .uom-display-md-none</code></td>
        </tr>
        <tr>
          <td>Visible only on md</td>
          <td><code>.uom-display-none .uom-display-md-block .uom-display-lg-none</code></td>
        </tr>
        <tr>
          <td>Visible only on lg</td>
          <td><code>.uom-display-none .uom-display-lg-block .uom-display-xl-none</code></td>
        </tr>
        <tr>
          <td>Visible only on xl</td>
          <td><code>.uom-display-none .uom-display-xl-block .uom-display-xxl-none</code></td>
        </tr>
        <tr>
          <td>Visible only on xxl</td>
          <td><code>.uom-display-none .uom-display-xxl-block</code></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{#>_docs-example open=true separated="true"}}
<div class="uom-display-lg-none">hide on lg and wider screens</div>
<div class="uom-display-none uom-display-lg-block">hide on screens smaller than lg</div>
{{/_docs-example}}
