---
title: Flex
width: narrow
intro: Utilities to manage the layout, alignment and sizing of flex items and components with a suite of responsive flexbox utilities.
no-blank: true
model: json/utilities.json
meta-description: Utilities to manage the layout, alignment and sizing of flex items and components with a suite of responsive flexbox utilities.
meta-index: true
---

<h3>Enable flex behaviors</h3>

<p>Apply display utilities to create a flexbox container and transform direct children elements into flex items. Flex containers and items are able to be modified further with additional flex properties.</p>

{{#>_docs-example open=true separated=true}}
<div class="uom-display-flex uom-p-xs uom-bg--grey-04">I'm a flexbox container!</div>
{{/_docs-example}}

{{#>_docs-example open=true separated=true}}
<div class="uom-display-inline-flex uom-p-xs uom-bg--grey-04">I'm an inline flexbox container!</div>
{{/_docs-example}}

<h3>Direction</h3>

<p>Set the direction of flex items in a flex container with direction utilities.</p>

{{#>_docs-example showcode=true separated=true}}
<div class="uom-display-flex uom-flex-row uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 1</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 2</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 3</div>
</div>
<div class="uom-display-flex uom-flex-row-reverse uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 1</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 2</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 3</div>
</div>
<div class="uom-display-flex uom-flex-column uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 1</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 2</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 3</div>
</div>
<div class="uom-display-flex uom-flex-column-reverse uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 1</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 2</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 3</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex uom-flex-row">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="uom-display-flex uom-flex-row-reverse">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="uom-display-flex uom-flex-column">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
<div class="uom-display-flex uom-flex-column-reverse">
  <div>Flex item 1</div>
  <div>Flex item 2</div>
  <div>Flex item 3</div>
</div>
{{/_docs-code}}

<h3>Justify content</h3>

<p>Use justify-content utilities on flexbox containers to change the alignment of flex items on the main axis. Choose from start (browser default), end, center, between, around, or evenly.

</p>

{{#>_docs-example showcode=true separated=true}}
<div class="uom-display-flex uom-justify-content-start uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Justify</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Content</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Start</div>
</div>
<div class="uom-display-flex uom-justify-content-end uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Justify</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Content</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">End</div>
</div>
<div class="uom-display-flex uom-justify-content-center uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Justify</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Content</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Center</div>
</div>
<div class="uom-display-flex uom-justify-content-between uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Justify</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Content</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Between</div>
</div>
<div class="uom-display-flex uom-justify-content-around uom-m-bottom-xs uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Justify</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Content</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Around</div>
</div>
<div class="uom-display-flex uom-justify-content-evenly uom-bg--grey-04">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Justify</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Content</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Evenly</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex uom-justify-content-start">...</div>
<div class="uom-display-flex uom-justify-content-end">...</div>
<div class="uom-display-flex uom-justify-content-center">...</div>
<div class="uom-display-flex uom-justify-content-between">...</div>
<div class="uom-display-flex uom-justify-content-around">...</div>
<div class="uom-display-flex uom-justify-content-evenly">...</div>
{{/_docs-code}}

<h3>Align items</h3>

<p>Use align-items utilities on flexbox containers to change the alignment of flex items on the cross axis. Choose from start, end, center, baseline, or stretch (browser default).</p>

{{#>_docs-example showcode=true separated=true}}
<div class="uom-display-flex uom-align-items-start uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
</div>
<div class="uom-display-flex uom-align-items-end uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
</div>
<div class="uom-display-flex uom-align-items-center uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
</div>
<div class="uom-display-flex uom-align-items-baseline uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
</div>
<div class="uom-display-flex uom-align-items-stretch uom-bg--grey-04" style="height: 100px">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex uom-align-items-start">...</div>
<div class="uom-display-flex uom-align-items-end">...</div>
<div class="uom-display-flex uom-align-items-center">...</div>
<div class="uom-display-flex uom-align-items-baseline">...</div>
<div class="uom-display-flex uom-align-items-stretch">...</div>
{{/_docs-code}}

<h3>Align self</h3>

<p>Use align-self utilities on flexbox items to individually change their alignment on the cross axis. Choose from the same options as align-items: start, end, center, baseline, or stretch (browser default).</p>

{{#>_docs-example showcode=true separated=true}}
  <div class="uom-display-flex uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-align-self-start uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Aligned flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>
  <div class="uom-display-flex uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-align-self-end uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Aligned flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>
  <div class="uom-display-flex uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-align-self-center uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Aligned flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>
  <div class="uom-display-flex uom-m-bottom-xs uom-bg--grey-04" style="height: 100px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-align-self-baseline uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Aligned flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>
  <div class="uom-display-flex uom-bg--grey-04" style="height: 100px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-align-self-stretch uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Aligned flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-align-self-start">Aligned flex item</div>
<div class="uom-align-self-end">Aligned flex item</div>
<div class="uom-align-self-center">Aligned flex item</div>
<div class="uom-align-self-baseline">Aligned flex item</div>
<div class="uom-align-self-stretch">Aligned flex item</div>
{{/_docs-code}}

<h3>Fill</h3>

{{#>_docs-example showcode=true separated=true}}
<div class="uom-display-flex">
  <div class="uom-flex-fill uom-bg--brand-light uom-border uom-border--grey-01">Flex item with a lot of content</div>
  <div class="uom-flex-fill uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-flex-fill uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex">
  <div class="uom-flex-fill">Flex item with a lot of content</div>
  <div class="uom-flex-fill">Flex item</div>
  <div class="uom-flex-fill">Flex item</div>
</div>
{{/_docs-code}}

<h3>Grow and shrink</h3>

{{#>_docs-example showcode=true separated=true}}
<div class="uom-display-flex">
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01 uom-flex-grow-1">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Third flex item</div>
</div>
<div class="uom-display-flex">
  <div class="uom-p-xs uom-width-100 uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  <div class="uom-p-xs uom-flex-shrink-1 uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex">
  <div class="uom-flex-grow-1">Flex item</div>
  <div>Flex item</div>
  <div>Third flex item</div>
</div>

<div class="uom-display-flex">
  <div class="uom-width-100">Flex item</div>
  <div class="uom-flex-shrink-1">Flex item</div>
</div>
{{/_docs-code}}

<h3>Wrap</h3>

{{#>_docs-example showcode=true separated=true}}

  <div class="uom-display-flex uom-flex-nowrap uom-bg--grey-03 uom-m-bottom-md" style="width: 8rem;">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01 uom-bg-opacity--50">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01 uom-bg-opacity--50">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01 uom-bg-opacity--50">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01 uom-bg-opacity--50">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01 uom-bg-opacity--50">Flex item</div>
  </div>


  <div class="uom-display-flex uom-flex-wrap uom-bg--grey-04 uom-m-bottom-md">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 1</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 2</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 3</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 4</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 5</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 6</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 7</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 8</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 9</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 10</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 11</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 12</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 13</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 14</div>
  </div>


  <div class="uom-display-flex uom-flex-wrap-reverse uom-bg--grey-04 uom-m-bottom-md">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 1</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 2</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 3</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 4</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 5</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 6</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 7</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 8</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 9</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 10</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 11</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 12</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 13</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item 14</div>
  </div>

{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex uom-flex-nowrap">...</div>
<div class="uom-display-flex uom-flex-wrap">...</div>
<div class="uom-display-flex uom-flex-wrap-reverse">...</div>
{{/_docs-code}}

<h3>Order</h3>

{{#>_docs-example showcode=true separated=true}}
<div class="uom-display-flex uom-flex-nowrap">
  <div class="uom-order-3 uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">First flex item</div>
  <div class="uom-order-2 uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Second flex item</div>
  <div class="uom-order-1 uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Third flex item</div>
</div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex uom-flex-nowrap">
  <div class="uom-order-3">First flex item</div>
  <div class="uom-order-2">Second flex item</div>
  <div class="uom-order-1">Third flex item</div>
</div>
{{/_docs-code}}

<h3>Align content</h3>

{{#>_docs-example showcode=true separated=true}}

  <div class="uom-display-flex uom-align-content-start uom-flex-wrap uom-m-bottom-md uom-bg--grey-04" style="height: 200px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>

  <div class="uom-display-flex uom-align-content-end uom-flex-wrap uom-m-bottom-md uom-bg--grey-04" style="height: 200px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>

  <div class="uom-display-flex uom-align-content-center uom-flex-wrap uom-m-bottom-md uom-bg--grey-04" style="height: 200px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>

  <div class="uom-display-flex uom-align-content-between uom-flex-wrap uom-m-bottom-md uom-bg--grey-04" style="height: 200px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>

  <div class="uom-display-flex uom-align-content-around uom-flex-wrap uom-m-bottom-md uom-bg--grey-04" style="height: 200px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>

  <div class="uom-display-flex uom-align-content-stretch uom-flex-wrap uom-m-bottom-md uom-bg--grey-04" style="height: 200px">
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
    <div class="uom-p-xs uom-bg--brand-light uom-border uom-border--grey-01">Flex item</div>
  </div>
{{/_docs-example}}

{{#>_docs-code open=true separated=true}}
<div class="uom-display-flex align-content-start flex-wrap">...</div>
<div class="uom-display-flex uom-align-content-end uom-flex-wrap">...</div>
<div class="uom-display-flex uom-align-content-center uom-flex-wrap">...</div>
<div class="uom-display-flex uom-align-content-between uom-flex-wrap">...</div>
<div class="uom-display-flex uom-align-content-around uom-flex-wrap">...</div>
<div class="uom-display-flex uom-align-content-stretch uom-flex-wrap">...</div>
{{/_docs-code}}
