---
title: Position
width: narrow
intro: Utilities for controlling how an element is positioned in the DOM.
no-blank: true
model: json/utilities.json
meta-description: Utilities for controlling how an element is positioned in the DOM.
meta-index: true
---

{{#>_docs-code open=true}}
<div class="uom-position-static">...</div>
<div class="uom-position-relative">...</div>
<div class="uom-position-absolute">...</div>
<div class="uom-position-fixed">...</div>
<div class="uom-position-sticky">...</div>
{{/_docs-code}}

<div class="uom-docs__example uom-m-top-md">
  <div class="uom-docs__component uom-position-relative" style="height:200px;">
    <div class="uom-position-absolute uom-position-top-0 uom-position-left-0 uom-width-lg uom-height-lg uom-bg--brand-dark"></div>
    <div class="uom-position-absolute uom-position-top-0 uom-position-right-0 uom-width-lg uom-height-lg uom-bg--brand-dark"></div>
    <div class="uom-position-absolute uom-position-top-50 uom-position-left-50 uom-width-lg uom-height-lg uom-bg--brand-dark"></div>
    <div class="uom-position-absolute uom-position-bottom-50 uom-position-right-50 uom-width-lg uom-height-lg uom-bg--brand-dark"></div>
    <div class="uom-position-absolute uom-position-bottom-0 uom-position-left-0 uom-width-lg uom-height-lg uom-bg--brand-dark"></div>
    <div class="uom-position-absolute uom-position-bottom-0 uom-position-right-0 uom-width-lg uom-height-lg uom-bg--brand-dark"></div>
  </div>
</div>

{{#>_docs-code open=true}}
<div class="uom-position-relative">
  <div class="uom-position-absolute uom-position-top-0 uom-position-left-0"></div>
  <div class="uom-position-absolute uom-position-top-0 uom-position-right-0"></div>
  <div class="uom-position-absolute uom-position-top-50 uom-position-left-50"></div>
  <div class="uom-position-absolute uom-position-bottom-50 uom-position-right-50"></div>
  <div class="uom-position-absolute uom-position-bottom-0 uom-position-left-0"></div>
  <div class="uom-position-absolute uom-position-bottom-0 uom-position-right-0"></div>
</div>
{{/_docs-code}}
