<div class="uom-grid">
{{#if simple}}
  {{#each cols}}
  <div class="uom-col">
    <!-- START: Column content -->
    <div class="uom-docs__box"></div>
    <!-- END: Column content -->
  </div>
  {{/each}}
{{else}}
  {{#each cols}}
  <div class="uom-col {{this}}">
    <!-- START: Column content -->
    <div class="uom-docs__box"></div>
    <!-- END: Column content -->
  </div>
  {{/each}}
{{/if}}
</div>
