---
title: Grid
page: true
---

<main>
    <div class="uom-container">
		{{>_grid
		  simple=true
		  cols=(split "col")
		}}

		{{>_grid
		  cols=(split "uom-col-sm-6;uom-col-sm-6")
		}}

		{{>_grid
		  cols=(split "uom-col-md-4;uom-col-md-4;uom-col-md-4")
		}}

		{{>_grid
		  cols=(split "uom-col-md-6 uom-col-lg-3;uom-col-md-6 uom-col-lg-3;uom-col-md-6 uom-col-lg-3;uom-col-md-6 uom-col-lg-3")
		}}

		{{>_grid
		  cols=(split "uom-col-lg-3 uom-show-lg;uom-col-12 uom-col-lg-4 uom-offset-lg-1;uom-col-lg-3 uom-offset-lg-1 uom-show-lg")
		}}

		{{>_grid-overlay}}
	</div>
</main>
