body {
  @include font-size('sm');
  font-family: var(--uom-font-family);
  font-weight: var(--uom-font-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--uom-text-dark);
}

button,
input,
textarea,
textfield,
select {
  font-family: var(--uom-font-family);
}

p,
ul,
ol,
dl {
  margin: 0;
}

* + p,
* + ul,
* + ol,
* + dl {
  margin-top: rem(16px);
}

ul,
ol {
  li {
    margin-top: rem(8px);
  }
}

dt {
  margin-top: rem(8px);
}

small,
.uom-small {
  @include font-size('xs');
}

/* stylelint-disable selector-no-qualifying-type */

abbr,
abbr[title], /* stylelint-disable-line selector-no-qualifying-type */
acronym {
  text-decoration: none;
  border-bottom: 1px var(--uom-brand-dark) dashed;
}

/* stylelint-enable selector-no-qualifying-type */

blockquote {
  @include font-size('lg');
  @include component-spacing;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border-left: solid 2px var(--uom-brand-accent);
  padding: rem(20px) rem(24px);

  @include breakpoint('md') {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
}

table {
  @include component-spacing;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  caption-side: bottom;

  caption {
    padding: rem(12px) rem(8px);
    text-align: left;
  }

  th,
  td {
    padding: rem(12px) rem(8px);
    text-align: left;
    vertical-align: baseline;
    border-bottom: solid 1px var(--uom-grey-01);

    .uom-section--invert & {
      border-color: var(--uom-white);
    }
  }

  th,
  thead td,
  tfoot td {
    font-weight: var(--uom-font-bold);
  }

  thead {
    border-bottom: solid 2px var(--uom-grey-01);

    .uom-section--invert & {
      border-color: var(--uom-white);
    }
  }
}

cite {
  @include font-size('sm');
  margin-top: rem(16px);
  display: block;
  font-style: normal;
}

cite::before {
  content: '— ';
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--uom-grey-04);
  margin: rem(16) 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.uom-h1,
.uom-h2,
.uom-h3,
.uom-h4,
.uom-h5,
.uom-h6 {
  font-weight: var(--uom-font-bold);
  margin: 0;
}

h1,
.uom-h1 {
  @include font-size('xxl');
  color: var(--uom-brand-dark);
  font-family: 'Fraunces', serif;
}

h2,
.uom-h2 {
  @include font-size('xl');
}

h3,
.uom-h3 {
  @include font-size('lg');
}

h4,
.uom-h4 {
  @include font-size('md');
}

h5,
h6,
.uom-h5,
.uom-h6 {
  @include font-size('sm');
}

* + h1,
* + .uom-h1 {
  margin-top: rem(64px);
}

* + h2,
* + .uom-h2 {
  margin-top: rem(48px);
}

* + h3,
* + .uom-h3 {
  margin-top: rem(32px);
}

* + h4,
* + h5,
* + h6,
* + .uom-h4,
* + .uom-h5,
* + .uom-h6 {
  margin-top: rem(24px);
}

.uom-intro {
  @include font-size('md');
  margin: rem(16px) 0 0 0;
}


a {
  @include link;

  .uom-section--invert & {
    @include link-light();
  }
}

.uom-section-separator {
  border: 0;
  height: 1px;
  background-color: var(--uom-grey-04);
  margin: rem(32) 0;

  @include breakpoint('md') {
    margin: rem(48) 0;
  }
}

.uom-section-text {
  margin-top: rem(-8px);
  padding-bottom: rem(8px);
}

.uom-section-title {
  margin: 0;
  padding-top: rem($grid-gutters);
  padding-bottom: rem(8px);

  @include breakpoint('md') {
    padding-top: rem($grid-gutters*2);
  }
}

:root {
  --uom-font-size-xxs: var(--uom-font-size-xxs-mobile);
  --uom-font-height-xxs: var(--uom-font-height-xxs-mobile);

  @include breakpoint($uom-font-size-reponsive-breakpoint) {
    --uom-font-size-xxs: var(--uom-font-size-xxs-desktop);
    --uom-font-height-xxs: var(--uom-font-height-xxs-desktop);
  }

  --uom-font-size-xs: var(--uom-font-size-xs-mobile);
  --uom-font-height-xs: var(--uom-font-height-xs-mobile);

  @include breakpoint($uom-font-size-reponsive-breakpoint) {
    --uom-font-size-xs: var(--uom-font-size-xs-desktop);
    --uom-font-height-xs: var(--uom-font-height-xs-desktop);
  }

  --uom-font-size-sm: var(--uom-font-size-sm-mobile);
  --uom-font-height-sm: var(--uom-font-height-sm-mobile);

  @include breakpoint($uom-font-size-reponsive-breakpoint) {
    --uom-font-size-sm: var(--uom-font-size-sm-desktop);
    --uom-font-height-sm: var(--uom-font-height-sm-desktop);
  }

  --uom-font-size-md: var(--uom-font-size-md-mobile);
  --uom-font-height-md: var(--uom-font-height-md-mobile);

  @include breakpoint($uom-font-size-reponsive-breakpoint) {
    --uom-font-size-md: var(--uom-font-size-md-desktop);
    --uom-font-height-md: var(--uom-font-height-md-desktop);
  }

  --uom-font-size-lg: var(--uom-font-size-lg-mobile);
  --uom-font-height-lg: var(--uom-font-height-lg-mobile);

  @include breakpoint($uom-font-size-reponsive-breakpoint) {
    --uom-font-size-lg: var(--uom-font-size-lg-desktop);
    --uom-font-height-lg: var(--uom-font-height-lg-desktop);
  }

  --uom-font-size-xl: var(--uom-font-size-xl-mobile);
  --uom-font-height-xl: var(--uom-font-height-xl-mobile);

  @include breakpoint($uom-font-size-reponsive-breakpoint) {
    --uom-font-size-xl: var(--uom-font-size-xl-desktop);
    --uom-font-height-xl: var(--uom-font-height-xl-desktop);
  }

  --uom-font-size-xxl: var(--uom-font-size-xxl-mobile);
  --uom-font-height-xxl: var(--uom-font-height-xxl-mobile);

  @include breakpoint($uom-font-size-reponsive-breakpoint) {
    --uom-font-size-xxl: var(--uom-font-size-xxl-desktop);
    --uom-font-height-xxl: var(--uom-font-height-xxl-desktop);
  }
}
