$uom-vertical-align: (
  valign-baseline: baseline,
  valign-top: top,
  valign-middle: middle,
  valign-bottom: bottom,
);

.uom-table {
  @include component-spacing();
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &:focus {
    @include uom-focus;
  }

  table {
    margin: 0;
    min-width: rem(600);
  }

  &--caption-top {
    table {
      caption-side: top;
    }
  }

  &--striped {
    th,
    td {
      border-bottom: 0;
    }

    tbody tr:nth-of-type(even) {
      background-color: var(--uom-off-white);

      .uom-section--invert & {
        background-color: var(--uom-hover-light);
      }
    }
  }

  &--bordered {
    th,
    td {
      border: solid 1px var(--uom-grey-01);
    }
  }
}

@each $name, $alignment in $uom-vertical-align {
  .uom-table--#{"" + $name} {
    th,
    td {
      vertical-align: $alignment;
    }
  }
}
