.uom-tooltip,
.uom-toggletip {
  white-space: nowrap;
  border-bottom: 2px dotted var(--uom-brand-dark);

  &:focus,
  &:active {
    @include uom-focus;
  }

  &__element {
    display: none;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 260px;
    border-radius: var(--uom-border-radius);
    box-shadow: var(--uom-box-shadow);
    line-height: var(--uom-line-height-md-desktop);

    @include z-index('upper');
    @include font-size('xs');

    &:focus,
    &:active {
      @include uom-focus;
    }

    &--dark {
      background-color: var(--uom-grey-02);
      color: var(--uom-text-light);

      a {
        @include link-light();

        &:focus,
        &:active {
          @include uom-focus(true, var(--uom-text-light));
        }
      }

      .uom-icon-button {
        color: var(--uom-text-light);
        text-decoration: none;

        @include link-light();
      }
    }

    &--light {
      background-color: var(--uom-white);
      color: var(--uom-text-dark);

      a {
        @include link;

        &:focus,
        &:active {
          @include uom-focus;
        }
      }

      .uom-icon-button {
        color: var(--uom-brand-dark);
        text-decoration: none;

        @include link-dark;
      }

      .uom-tooltip__arrow,
      .uom-toggletip__arrow {
        background-color: var(--uom-white);
      }
    }

    &.active {
      display: inline-block;
    }
  }

  &__arrow {
    position: absolute;
    background-color: var(--uom-grey-02);
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
  }

  .uom-section--invert & {
    border-bottom: 2px dotted var(--uom-text-light);
  }
}

.uom-tooltip {
  cursor: help;

  &__element {
    padding: rem(8px);

    @include breakpoint('lg') {
      padding: rem(16px);
    }
  }
}

.uom-toggletip {
  cursor: pointer;

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .uom-icon-button {
      margin: rem(6px) rem(6px) 0 rem(8px);

      .uom-material-icons {
        font-size: var(--uom-font-size-sm-mobile);

        @include breakpoint('lg') {
          font-size: var(--uom-font-size-sm-desktop);
        }
      }
    }
  }

  &__content {
    padding: 0 rem(16px) rem(16px);

    &:first-child {
      margin-top: 0;
    }
  }
}
