.uom-utility-list {
  background-color: var(--uom-off-white);

  .uom-section--invert & {
    background-color: transparent;
  }

  @include component-spacing();

  &__title {
    @include font-size('lg');
    font-weight: var(--uom-font-bold);
    padding-bottom: rem(16px);

    @include breakpoint('md') {
      padding-bottom: rem(24px);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0;
    padding: rem(16px);
    display: flex;
    gap: $grid-gutters;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--uom-font-bold);
    border-bottom: 1px solid var(--uom-grey-04);
    color: var(--uom-brand-dark);

    @include font-size('sm');

    &:hover {
      @include uom-hover;
      outline-width: 0;
    }

    &:focus {
      @include uom-focus;
    }

    &:last-child {
      border-bottom: unset;
    }

    .uom-section--invert & {
      color: var(--uom-text-light);
      background-color: transparent;
      color: var(--uom-text-light);

      span:not(.uom-toggletip__element .uom-material-icons) {
        color: var(--uom-text-light);
      }

      svg {
        path {
          fill: var(--uom-brand-dark);
        }
      }

      &:hover {
        @include uom-hover-light();
      }

      &:focus {
        @include uom-focus(false);
      }

      &:visited {
        color: var(--uom-visited);
      }
    }

    svg {
      width: rem(24px);
      height: rem(24px);

      path {
        fill: var(--uom-brand-dark);
      }
    }

    span {
      color: var(--uom-brand-dark);
    }
  }

  .uom-toggletip {
    border-bottom: unset;

    &__header {
      display: none;
    }

    &__content {
      display: flex;
      gap: $grid-gutters;
      padding: rem(16px);

      a {
        display: flex;
        padding: rem(8px);
        border-radius: var(--uom-border-radius);
        text-decoration: none;
      }

      span:not(.uom-toggletip__element .uom-material-icons) {
        color: var(--uom-brand-dark);
      }
    }
  }

  &--horizontal {
    @include breakpoint('md') {
      display: flex;

      ul {
        display: flex;
        width: 100%;
      }

      li {
        border-bottom: unset;
      }
    }
  }
}
