<div class="hero-search">
  <div class="uom-container">
    <div class="hero-search__wrapper">
      <div class="hero-search__content">
        <h1>{{title}}</h1>
        <p class="uom-intro">{{{copy}}}</p>
        <form role="search" class="hero-search__form">
          <div class="uom-form__input-group uom-form__input-group--icon">
            <label class="sr-only" for="form-input-group-1">{{searchLabel}}</label>
            <input class="uom-form__input" type="text" id="form-input-group-1" name="form-input-group-1" value="">
            <button class="uom-button uom-button--dark uom-button--flex" type="submit">
              <span class="material-icons uom-material-icons" focusable="false" aria-hidden="true">search</span>
              <span class="sr-only">Search</span>
            </button>
          </div>
        </form>
        <div class="hero-search__suggested">
          <ul>
            {{#each list}}
            <li><a href="#">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
