$uom-icon-sizes: (
  20: 20px,
  24: 24px,
  30: 30px,
  36: 36px
);

$uom-icon-colors: (
  brand: var(--uom-brand-dark),
  accent: var(--uom-brand-accent),
  error: var(--uom-status-error),
  success: var(--uom-status-success),
  info: var(--uom-status-info),
  warning: var(--uom-status-warning)
);

$uom-icon-angles: (90, 180, 270);

.uom-material-icons {
  @each $size, $variant in $uom-icon-sizes {
    &--#{"" + $size} {
      font-size: rem(map-get($uom-icon-sizes, $size));
    }
  }

  @each $color, $variant in $uom-icon-colors {
    &--#{"" + $color} {
      color: map-get($uom-icon-colors, $color);
    }
  }

  @each $angle, $variant in $uom-icon-angles {
    &--rotate-#{"" + $angle} {
      transform: rotate(#{$angle}deg);
    }
  }

  &--inline {
    font-size: rem(map-get($uom-icon-sizes, 20));
    line-height: rem(10px);
    position: relative;
    bottom: rem(-5px);
    margin-right: rem(4px);
  }
}

.uom-icon-button {
  @include font-size('sm');
  border-radius: var(--uom-border-radius);
  font-weight: var(--uom-font-bold);
  color: var(--uom-brand-dark);
  background: none;
  border: 0;
  text-decoration: none;
  padding: rem(8px);
  display: inline-block;

  &:hover {
    @include uom-hover;
    outline-width: 0;
  }

  &:focus {
    @include uom-focus($offset: false);
  }

  .uom-material-icons,
  svg {
    display: block;
  }

  @at-root {
    a#{&} {
      cursor: pointer;
    }
  }

  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .uom-section--invert & {
    @include link-light;
  }
}
