<span class="material-icons uom-material-icons{{#if size}} uom-material-icons--{{size}}{{/if}}{{#if type}} uom-material-icons--{{type}}{{/if}}{{#if rotate}} uom-material-icons--rotate-{{rotate}}{{/if}}" focusable="false" aria-hidden="true">{{code}}</span>
