/* stylelint-disable declaration-no-important, string-quotes, number-leading-zero, scss/dollar-variable-default */
$utilities: () !default;

$utilities: map-merge((
  "align": (
    property: vertical-align,
    class: uom-align,
    values: baseline top middle bottom text-bottom text-top
  ),
  "float": (
    responsive: true,
    property: float,
    class: uom-float,
    values: left right none
  ),
  "object-fit": (
    responsive: true,
    property: object-fit,
    class: uom-object-fit,
    values: (
      contain: contain,
      cover: cover,
      fill: fill,
      scale: scale-down,
      none: none,
    )
  ),
  "opacity": (
    property: opacity,
    class: uom-opacity,
    state: hover,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1,
    )
  ),
  "overflow": (
    property: overflow,
    class: uom-overflow,
    values: auto hidden visible scroll,
  ),
  "overflow-x": (
    property: overflow-x,
    class: uom-overflow-x,
    values: auto hidden visible scroll,
  ),
  "overflow-y": (
    property: overflow-y,
    class: uom-overflow-y,
    values: auto hidden visible scroll,
  ),
  "display": (
    responsive: true,
    print: true,
    property: display,
    class: uom-display,
    values: inline inline-block block grid inline-grid table table-row table-cell flex inline-flex none
  ),
  "position": (
    property: position,
    class: uom-position,
    values: static relative absolute fixed sticky
  ),
  "top": (
    property: top,
    class: uom-position-top,
    values: $uom-position-values
  ),
  "bottom": (
    property: bottom,
    class: uom-position-bottom,
    values: $uom-position-values
  ),
  "left": (
    property: left,
    class: uom-position-left,
    values: $uom-position-values
  ),
  "right": (
    property: right,
    class: uom-position-right,
    values: $uom-position-values
  ),
  "translate-middle": (
    property: transform,
    class: uom-translate-middle,
    values: (
      null: translate(-50%, -50%),
      x: translateX(-50%),
      y: translateY(-50%),
    )
  ),
  "border-std": (
    property: border,
    class: uom-border,
    values: (
      null: $uom-border,
      0: 0,
    )
  ),
  "border": (
    property: border,
    class: uom-border-,
    values: $uom-border-widths,
  ),
  "border-top": (
    property: border-top,
    class: uom-border--top,
    values: (
      null: $uom-border,
      0: 0,
    )
  ),
  "border-right": (
    property: border-right,
    class: uom-border--right,
    values: (
      null: $uom-border,
      0: 0,
    )
  ),
  "border-bottom": (
    property: border-bottom,
    class: uom-border--bottom,
    values: (
      null: $uom-border,
      0: 0,
    )
  ),
  "border-left": (
    property: border-left,
    class: uom-border--left,
    values: (
      null: $uom-border,
      0: 0,
    )
  ),
  "border-color": (
    property: border-color,
    class: uom-border-,
    state: hover,
    values: $uom-base-colours,
  ),
  "border-radius": (
    property: border-radius,
    class: uom-border-radius,
    values: (
      null: var(--uom-border-radius),
      0: 0,
      circle: 50%,
    )
  ),
  "box-shadow": (
    property: box-shadow,
    class: uom-box-shadow,
    values: (
      null: var(--uom-box-shadow),
      none: none,
    )
  ),
  "width": (
    property: width,
    class: uom-width,
    responsive: true,
    values: $sizes
  ),
  "max-width": (
    property: max-width,
    class: uom-mw,
    values: (100: 100%)
  ),
  "viewport-width": (
    property: width,
    class: uom-vw,
    values: (100: 100vw)
  ),
  "min-viewport-width": (
    property: min-width,
    class: uom-min-vw,
    values: (100: 100vw)
  ),
  "height": (
    property: height,
    class: uom-height,
    values: $sizes
  ),
  "max-height": (
    property: max-height,
    class: uom-mh,
    values: (100: 100%)
  ),
  "viewport-height": (
    property: height,
    class: uom-vh,
    values: (100: 100vh)
  ),
  "min-viewport-height": (
    property: min-height,
    class: uom-min-vh,
    values: (100: 100vh)
  ),
  "flex": (
    responsive: true,
    property: flex,
    class: uom-flex,
    values: (fill: 1 1 auto)
  ),
  "flex-direction": (
    responsive: true,
    property: flex-direction,
    class: uom-flex,
    values: row column row-reverse column-reverse
  ),
  "flex-grow": (
    responsive: true,
    property: flex-grow,
    class: uom-flex,
    values: (
      grow-0: 0,
      grow-1: 1,
    )
  ),
  "flex-shrink": (
    responsive: true,
    property: flex-shrink,
    class: uom-flex,
    values: (
      shrink-0: 0,
      shrink-1: 1,
    )
  ),
  "flex-wrap": (
    responsive: true,
    property: flex-wrap,
    class: uom-flex,
    values: wrap nowrap wrap-reverse
  ),
  "justify-content": (
    responsive: true,
    property: justify-content,
    class: uom-justify-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    )
  ),
  "align-items": (
    responsive: true,
    property: align-items,
    class: uom-align-items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
  "align-content": (
    responsive: true,
    property: align-content,
    class: uom-align-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      stretch: stretch,
    )
  ),
  "align-self": (
    responsive: true,
    property: align-self,
    class: uom-align-self,
    values: (
      auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
  "order": (
    responsive: true,
    property: order,
    class: uom-order,
    values: (
      first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6,
    ),
  ),
  "font-style": (
    property: font-style,
    class: uom-text,
    values: italic normal
  ),
  "font-weight": (
    property: font-weight,
    class: uom-text,
    values: (
      lighter: $uom-font-weight-lighter,
      light: $uom-font-weight-light,
      normal: $uom-font-weight-normal,
      medium: $uom-font-weight-medium,
      semibold: $uom-font-weight-semibold,
      bold: $uom-font-weight-bold,
      bolder: $uom-font-weight-bolder
    )
  ),
  "text-color": (
    property: color,
    class: uom-text-,
    state: hover,
    values: $uom-text-colours
  ),
  "text-align": (
    responsive: true,
    property: text-align,
    class: uom-text,
    values: left right center
  ),
  "text-decoration": (
    property: text-decoration,
    class: uom-text,
    values: none underline line-through
  ),
  "text-transform": (
    property: text-transform,
    class: uom-text,
    values: lowercase uppercase capitalize
  ),
  "white-space": (
    property: white-space,
    class: uom-text,
    values: (
      wrap: normal,
      nowrap: nowrap,
    )
  ),
  "overflow-wrap": (
    responsive: true,
    property: overflow-wrap,
    class: uom-overflow,
    values: (
      break: break-word,
    ),
    rtl: false
  ),
  "word-break": (
    responsive: true,
    property: word-break,
    class: uom-word-break,
    values: normal break-all keep-all,
    rtl: false
  ),
  "background-color": (
    property: background-color,
    local-vars: (
      "bg-opacity": 1
    ),
    class: uom-bg-,
    state: hover,
    values: $uom-bg-colours,
  ),
  "bg-opacity": (
    css-var: true,
    css-variable-name: bg-opacity,
    class: uom-bg-opacity-,
    values: (
      10: .1,
      25: .25,
      50: .5,
      75: .75,
      100: 1
    )
  ),
  "fill": (
    property: fill,
    class: uom-fill,
    state: hover,
    values: $uom-base-colours,
  ),
  "stroke": (
    property: stroke,
    class: uom-stroke,
    state: hover,
    values: $uom-base-colours,
  ),
  "visibility": (
    property: visibility,
    class: nsw,
    values: visible hidden
  ),
  "z-index": (
    property: z-index,
    class: uom-z,
    values: $uom-z-index,
  )),
  $utilities);
