.uom-skip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  a {
    @include font-size('xxs');
    @include z-index('middle');
    background-color: var(--uom-brand-dark);
    color: var(--uom-white);
    width: 100%;
    text-decoration: none;
    padding: rem(8px) rem(16px);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-101%);

    &:focus {
      transform: translateY(0);
      outline: none;

      span {
        @include uom-focus($color: var(--uom-white));
      }
    }

    @include breakpoint('lg') {
      text-align: left;
    }
  }

  &--light {
    a {
      background-color: var(--uom-off-white);
      color: var(--uom-palette-grey-900);

      &:focus span {
        @include uom-focus();
      }
    }
  }
}

.uom-masthead {
  @include font-size('xxs');
  padding: rem(8px) 0;
  background-color: var(--uom-brand-dark);
  color: var(--uom-white);

  &--light {
    background-color: var(--uom-off-white);
    color: var(--uom-palette-grey-900);
  }
}
